@media screen and (min-height: 900px) {

}

.header .fundo {
    background: url('../public/img/cover.png');
    background-attachment: fixed;
    background-position-y: bottom;
    height: 400px;
    margin: 0 auto;
    width: 98%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.header .container {
    width: 93%;
    background-color: #fff;
    position: relative;
    top: -46px;
    margin: 0 auto;
    padding: 20px 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.header .fundo .body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    align-content: center;
    height: 100%;
}

.header .fundo .brand {
    font-size: 50px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0px -5px 30px #000, 0px -5px 30px #000;
}

.header .menu {

}

.header .menu li {
    list-style:none;
    display: inline;
    margin-right: 30px;
}

.header .menu li a {
    color: #000;
}

.header .menu li a:hover {
    opacity: 0.6;
}